@import url("https://fonts.googleapis.com/css2?family=Autour+One&display=swap");
$font-autour: "Autour One", system-ui;
$text: #333333;
$white: #ffffff;
$label: #717171;
$line: #e7e7e7;
$shadow-form: 0 3px 10px rgba(0, 0, 0, 0.15);
$body-md: 18px;
$body-sm: 16px;
$title-md: 32px;
$transition: 0.3s;

:root {
  --color-light: #f1f8ff;
  --color-dark: #245688;
  --color-bright: #0082e0;
  --color-bg: #f1f8ff;
  --color-gray: #53616e;
  --color-tablelight: #dde8f0;
  --color-lightgray: #bbc6d0;
  --nav-arrow: url(../img/chevron-down-blue.svg);
  --select-arrow: url(../img/select-arrow-blue.svg);
  --datepick-icon: url(../img/calendar-blue.svg);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "ar-fangxinshuh7b5std", sans-serif;
  color: $text;
  font-size: $body-md;
  background-color: var(--color-bg);
  &.theme {
    &-green {
      --color-light: #e3f2dd;
      --color-dark: #22600d;
      --color-bright: #64af35;
      --color-bg: #f9fdf7;
      --color-gray: #879f83;
      --color-tablelight: #e3efdf;
      --color-lightgray: #cad3c8;
      --nav-arrow: url(../img/chevron-down-green.svg);
      --select-arrow: url(../img/select-arrow-green.svg);
      --datepick-icon: url(../img/calendar-green.svg);
    }
    &-blue {
      --color-light: #deeeff;
      --color-dark: #245688;
      --color-bright: #0082e0;
      --color-bg: #f1f8ff;
      --color-gray: #53616e;
      --color-tablelight: #dde8f0;
      --color-lightgray: #bbc6d0;
      --nav-arrow: url(../img/chevron-down-blue.svg);
      --select-arrow: url(../img/select-arrow-blue.svg);
      --datepick-icon: url(../img/calendar-blue.svg);
    }
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input,
select,
button {
  outline: none;
  background-color: transparent;
  border: 0;
  color: $text;
  font-size: $body-sm;
  font-family: "ar-fangxinshuh7b5std", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

select {
  appearance: none;
  background-image: var(--select-arrow);
  background-size: 20px;
  background-position: calc(100% - 15px) center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: $text;
}

.color-red {
  color: #c60000;
  * {
    color: #c60000 !important;
  }
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $white;
  height: 70px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 50;
  &__nav {
    display: flex;
    align-items: center;
    height: 100%;
    > ul {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }
  &__user {
    padding: 7px 20px;
    border-radius: 100px;
    background-color: var(--color-light);
    font-family: "Autour One", "ar-fangxinshuh7b5std", sans-serif;
    color: var(--color-dark);
  }
}

.c-header-nav-item {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  > ul {
    position: absolute;
    background-color: $white;
    min-width: 250px;
    top: 90%;
    left: 0;
    box-shadow: $shadow-form;
    opacity: 0;
    visibility: hidden;
    transition: $transition;
    a {
      display: block;
      padding: 13px 20px;
      line-height: 1.4;
      transition: $transition;
      &:hover {
        color: var(--color-dark);
      }
      &.active {
        color: var(--color-bright);
        background-color: var(--color-light);
      }
    }
  }
  &__title {
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 15px;
    transition: $transition;
    &:hover {
      background-color: var(--color-light);
    }
    &.active {
      color: var(--color-bright);
    }
  }
  &.has-dropdown {
    .c-header-nav-item__title {
      padding-right: 30px;
      position: relative;
      &::after {
        position: absolute;
        content: "";
        width: 16px;
        height: 16px;
        background-image: url(../img/chevron-down.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
      }
      &.active {
        &::after {
          background-image: var(--nav-arrow);
        }
      }
    }
  }
  &:hover {
    > ul {
      opacity: 1;
      visibility: visible;
    }
  }
}

.main {
  padding: 80px 40px;
}

.page-head {
  padding-top: 15px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.breadcrumb {
  display: flex;
  align-items: center;
  a {
    color: var(--color-gray);
    display: block;
    padding: 0 12px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 1px;
      height: 11px;
      background-color: var(--color-lightgray);
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
    &.active {
      color: var(--color-bright);
    }
  }
  li {
    &:first-child {
      a {
        padding-left: 0;
      }
    }
    &:last-child {
      a {
        padding-right: 0;
        &::after {
          display: none;
        }
      }
    }
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 100px;
  padding: 8px 20px;
  transition: $transition;

  &-fill-md {
    background-color: var(--color-bright);
    border: 1px solid var(--color-bright);
    color: #fff;
    svg {
      width: 24px;
      height: 24px;
      path {
        fill: $white;
        transition: $transition;
      }
    }
    span {
      color: $white;
      transition: $transition;
      font-size: $body-md;
    }
    &:hover {
      background-color: transparent;
      svg {
        path {
          fill: var(--color-bright);
        }
      }
      span {
        color: var(--color-bright);
      }
    }
  }
  &-fill-lg {
    background-color: var(--color-bright);
    border: 1px solid var(--color-bright);
    color: $white;
    transition: $transition;
    font-size: $body-md;
    width: 130px;
    padding: 8px 0;
    color: #fff;
    &:hover {
      background-color: transparent;
      color: var(--color-bright);
    }
  }
  &-light {
    padding: 8px 15px;
    background-color: var(--color-light);
    color: var(--color-bright);
  }
  &-border {
    font-size: $body-sm;
    padding: 8px 15px;
    border: 1px solid var(--color-bright);
    color: var(--color-bright);
    transition: $transition;
    &:hover {
      background-color: var(--color-bright);
      color: $white;
    }
  }
}

.searchbar {
  padding: 20px;
  background-color: $white;
  box-shadow: $shadow-form;
  border-radius: 25px;
  margin-bottom: 20px;
  .btn {
    margin: 0 auto;
  }
}

.c-searchbar {
  &-radio {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 25px;
    > p {
      color: var(--color-gray);
    }
    &__content {
      display: flex;
      align-items: center;
      gap: 25px;
    }
    &__item {
      display: flex;
      align-items: center;
      gap: 8px;
      input {
        width: 18px;
        height: 18px;
        position: relative;
        &::before {
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          border-radius: 50%;
          border: 1px solid var(--color-lightgray);
          background-color: $white;
          top: 0;
          left: 0;
        }
        &:checked {
          &::before {
            opacity: 0;
          }
        }
      }
    }
  }
  &-input {
    .row {
      margin-left: -12px;
      margin-right: -12px;
      > div {
        padding-left: 12px;
        padding-right: 12px;
      }
    }
    &__item {
      margin-bottom: 20px;
      label {
        display: block;
        margin-bottom: 10px;
        color: var(--color-gray);
        font-size: $body-sm;
      }
      input {
        width: 100%;
        height: 43px;
        border-radius: 10px;
        padding: 0 15px;
        border: 1px solid var(--color-lightgray);
        &::placeholder {
          color: var(--color-lightgray);
        }
      }
    }
  }
}

.table {
  padding-top: 30px;
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    gap: 15px;
    .form-item__main {
      width: 300px;
    }
    .table__title {
      margin: 0;
    }
  }
  &__total {
    font-size: $body-sm;
  }
  &__title {
    color: var(--color-dark);
    font-size: $title-md;
    margin-bottom: 20px;
  }
  &__wrapper {
    position: relative;
  }
  &__inner {
    overflow-x: auto;
    &::-webkit-scrollbar {
      background-color: var(--color-tablelight);
      border-radius: 100px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--color-lightgray);
      border-radius: 100px;
    }
  }
  &__checkbox {
    width: 20px;
    height: 20px;
  }
  table {
    border-spacing: 0;
  }
  th {
    background-color: var(--color-tablelight);
    color: var(--color-dark);
    padding: 10px;
    height: 45px;
  }
  td {
    background-color: $white;
    border-bottom: 1px solid var(--color-lightgray);
    height: 60px;
    padding: 0 10px;
  }
  th,
  td {
    vertical-align: middle;
    > span {
      // display: flex;
      line-height: 1.4;
      white-space: nowrap;
      // align-items: center;
      // justify-content: center;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-align: center;
    }
    &.td {
      &-lg {
        width: 300px;
        span {
          width: 300px;
          white-space: wrap;
        }
      }
    }
  }
  &__function {
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: -5px 2px 15px rgba(0, 0, 0, 0.1);
  }
  &__main {
    min-width: 100%;
  }
}

.c-table-btns {
  &__wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    // padding: 0 20px;
  }
}

.pagination {
  padding-top: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  a {
    width: 37px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-family: $font-autour;
    transition: $transition;
    svg {
      width: 24px;
      height: 24px;
      path {
        stroke: var(--color-lightgray);
        transition: $transition;
      }
    }
    &.active {
      background-color: $white;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      color: var(--color-bright);
    }
    &:hover {
      color: var(--color-bright);
      svg {
        path {
          stroke: var(--color-bright);
        }
      }
    }
  }
}

.form {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  .row {
    margin-left: -15px;
    margin-right: -15px;
    > div {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  &-item {
    margin-bottom: 15px;
    label {
      display: block;
      color: $label;
      font-size: $body-sm;
      margin-bottom: 10px;
    }
    &__main {
      width: 100%;
      border-radius: 10px;
      background-color: $white;
      padding: 0 15px;
      height: 43px;
      box-shadow: $shadow-form;
      &::placeholder {
        color: var(--color-lightgray);
      }
      &.datepick {
        background-image: var(--datepick-icon);
        background-size: 24px;
        background-position: calc(100% - 15px) center;
        background-repeat: no-repeat;
      }
    }
    &__verify {
      display: flex;
      align-items: center;
      gap: 16px;
      .form-item__main {
        width: calc(100% - 80px - 16px);
        margin: 0;
      }
      .btn {
        width: 80px;
        padding-left: 0;
        padding-right: 0;
      }
    }
    input {
      margin-bottom: 10px;
    }
  }
  .btn-save {
    margin: 40px auto 0;
  }
  &_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
  }
  &--intrust {
    .row {
      justify-content: center;
    }
    .form_btn {
      margin-top: 0px;
      margin-bottom: 40px;
    }
  }
}

.c-form-item {
  &-address {
    display: flex;
    align-items: center;
    gap: 30px;
    &__num {
      width: 150px;
    }
    &__main {
      width: calc(100% - 150px - 30px);
    }
  }
  &-checkbox {
    display: flex;
    align-items: center;
    gap: 25px;
    &__item {
      display: flex;
      align-items: center;
      gap: 10px;
      input {
        width: 27px;
        height: 27px;
        position: relative;
        &::before {
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          background-color: $white;
          box-shadow: $shadow-form;
          top: 0;
          left: 0;
          border-radius: 2px;
        }
        &:checked {
          &::before {
            opacity: 0;
          }
        }
      }
      label {
        color: $text;
        margin: 0;
      }
    }
  }
  &-file {
    &__upload {
      display: flex;
      align-items: center;
      padding: 10px 20px;
      gap: 10px;
      background-color: $white;
      border-radius: 100px;
      box-shadow: $shadow-form;
      position: relative;
      width: fit-content;
      span {
        color: var(--color-dark);
        font-size: $body-sm;
      }
      svg {
        width: 16px;
        height: 16px;
        path {
          fill: var(--color-dark);
        }
      }
      input {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
      }
    }
    &__pic {
      position: relative;
      display: none;
      &-main {
        box-shadow: $shadow-form;
        overflow: hidden;
        position: relative;
        display: block;
        > img {
          position: absolute;
          object-fit: cover;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }
      }
      .btn-upload {
        position: absolute;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: var(--color-dark);
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          width: 19px;
          height: 19px;
          path {
            fill: $white;
          }
        }
        input {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          opacity: 0;
        }
      }
      .btn-delete {
        padding: 0;
        font-size: 16px;
        position: absolute;
        // top: calc(100% + 15px);
        bottom: 0;
        color: #d51717;
        transition: 0.3s;
        &:hover {
          color: var(--color-dark);
        }
      }
    }
    &.idcard {
      .c-form-item-file__pic {
        &-main {
          width: 100%;
          padding-bottom: 58%;
          border-radius: 20px;
        }
        .btn-upload {
          right: 12px;
          bottom: 40px;
        }
        .btn-delete {
          left: 0;
        }
      }
    }
    &.circle {
      width: fit-content;
      .c-form-item-file__pic {
        &-main {
          width: 150px;
          height: 150px;
          border-radius: 50%;
        }
        .btn-upload {
          right: 4px;
          bottom: 9px;
        }
        .btn-delete {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
    &.uploaded {
      .c-form-item-file {
        &__upload {
          display: none;
        }
        &__pic {
          display: block;
          padding-bottom: 30px;
        }
      }
    }
  }
  &-duration {
    display: flex;
    align-items: center;
    gap: 20px;
    span {
      display: block;
      text-align: center;
      width: 20px;
    }
    input {
      width: calc((100% - 60px) / 2);
    }
  }
}

.record {
  max-width: 1000px;
  width: 100%;
  margin: 40px auto;
  padding: 30px;
  border-radius: 30px;
  box-shadow: $shadow-form;
  background-color: $white;
  .row {
    margin: 0;
    > div {
      padding: 0;
    }
  }
  &__item {
    padding: 8px 0;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    h3 {
      text-align: right;
      width: 150px;
      padding-right: 25px;
      color: var(--color-dark);
    }
    p {
      padding-left: 25px;
    }
    h3,
    p {
      line-height: 1.2;
      margin: 0;
      font-size: $body-sm;
    }
    &::before {
      position: absolute;
      content: "";
      width: 1px;
      height: 100%;
      background-color: $line;
      top: 0;
      left: 150px;
    }
  }
}

.login {
  width: 100%;
  max-width: 580px;
  margin: 200px auto 0;
  background-color: $white;
  border-radius: 35px;
  box-shadow: $shadow-form;
  padding: 30px 25px;
  h1 {
    text-align: center;
    font-size: $title-md;
    margin-bottom: 35px;
  }
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 12px 15px;
    border-bottom: 1px solid $line;
    label {
      color: var(--color-dark);
      font-size: $body-sm;
      width: 50px;
    }
    input {
      width: calc(100% - 50px);
    }
  }
  &__bottom {
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
    input {
      width: 24px;
      height: 24px;
      position: relative;
      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border: 1px solid $line;
        border-radius: 0;
      }
      &:checked {
        &::before {
          opacity: 0;
        }
      }
    }
  }
}

.expiration {
  max-width: 530px;
  width: 100%;
  margin: 30px auto;
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
  }
}
